body {
  background: #474C52;
  margin: 0;
}
.game_container {
  border-top: 1px solid transparent;
  width: 1200px;
  margin: auto;
}
.equipment_item {
  display: flex;
  width: 60px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.equipment_item .equipment_item_img {
  width: 80%;
}
.jewelry_item {
  display: flex;
  width: 20px;
  height: 20px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jewelry_item .jewelry_item_img {
  width: 80%;
}
.header {
  width: 100%;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  color: #A6B2AA;
}
.header .hero_img {
  width: 60px;
}
.header .hero_nickname,
.header .hero_lvl {
  font-weight: 600;
}
.header .hero_hp {
  width: 100px;
  height: 10px;
  font-size: 10px;
  background: rosybrown;
  color: #ffffff;
  margin-bottom: 3px;
}
.header .hero_xp {
  width: 100px;
  height: 10px;
  font-size: 10px;
  background: cornflowerblue;
  color: #ffffff;
}
.money_block {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.money_block .money_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #A6B2AA;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 2px;
}
.money_block .money_box .money_img {
  width: 16px;
  height: 16px;
  border-right: 2px solid #A6B2AA;
}
.money_block .money_box .money_count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  font-size: 13px;
}
.all_information_block {
  display: flex;
  flex-direction: row;
}
.equipment_block {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.equipment_block .equipment_main {
  display: flex;
  flex-direction: row;
}
.equipment_block .equipment_main .equipment_first {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.equipment_block .equipment_main .equipment_second {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.equipment_block .equipment_main .equipment_third {
  display: flex;
  flex-direction: column;
}
.equipment_block .equipment_main .equipment_item5 {
  display: flex;
  width: 60px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 5px;
}
.equipment_block .equipment_main .equipment_item5 .equipment_item_img {
  width: 80%;
}
.equipment_block .equipment_main .equipment_item4 {
  display: flex;
  width: 60px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.equipment_block .equipment_main .equipment_item4 .equipment_item_img {
  width: 80%;
}
.equipment_block .equipment_main .equipment_item3 {
  display: flex;
  width: 60px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 5px;
}
.equipment_block .equipment_main .equipment_item3 .equipment_item_img {
  width: 80%;
}
.equipment_block .equipment_main .equipment_item1 {
  display: flex;
  width: 60px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin-bottom: 5px;
}
.equipment_block .equipment_main .equipment_item1 .equipment_item_img {
  width: 80%;
}
.equipment_block .equipment_jewelry {
  display: flex;
  flex-direction: row;
}
.equipment_block .equipment_jewelry .jewelry_item1 {
  display: flex;
  width: 20px;
  height: 20px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.equipment_block .equipment_jewelry .jewelry_item1 .jewelry_item_img {
  width: 80%;
}
.equipment_block .equipment_jewelry .jewelry_item3 {
  display: flex;
  width: 20px;
  height: 20px;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46px;
  margin-right: 4px;
}
.equipment_block .equipment_jewelry .jewelry_item3 .jewelry_item_img {
  width: 80%;
}
.skills_att_def_block {
  display: flex;
  flex-direction: column;
}
.skills_block {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #A6B2AA;
}
.skills_block .skills_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0 2px;
  margin-bottom: 4px;
}
.skills_block .skills_position .skills_name {
  margin-right: 20px;
  padding: 2px 4px;
}
.skills_block .skills_position .skills_count_box {
  display: flex;
  flex-direction: row;
}
.skills_block .skills_position .skills_count_box .skills_count {
  width: 28px;
  padding: 2px;
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_block .skills_position .skills_count_box .skills_up {
  visibility: hidden;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid #A6B2AA;
  cursor: pointer;
}
.skills_block .skills_position .skills_count_box .skills_up_vis {
  visibility: visible;
}
.attack_defence_desc_block {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #A6B2AA;
}
.attack_defence_desc_block .add_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 2px;
}
.attack_defence_desc_block .add_position .add_name {
  margin-right: 20px;
  padding: 2px 4px;
}
.attack_defence_desc_block .add_position .add_count_box {
  display: flex;
  flex-direction: row;
}
.attack_defence_desc_block .add_position .add_count_box .add_count {
  width: 28px;
  padding: 2px;
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.property_block {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #A6B2AA;
}
.property_block .prop_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0 3px;
  margin-bottom: 3px;
}
.property_block .prop_position .prop_name {
  font-size: 13px;
  margin-right: 20px;
  padding: 1px 2px;
}
.property_block .prop_position .prop_count_box {
  display: flex;
  flex-direction: row;
}
.property_block .prop_position .prop_count_box .prop_count {
  width: 20px;
  padding: 1px;
  font-size: 14px;
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.craft_block {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #A6B2AA;
}
.craft_block .craft_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(33, 33, 33, 0.4);
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0 3px;
  margin-bottom: 3px;
}
.craft_block .craft_position .craft_name {
  font-size: 13px;
  margin-right: 7px;
  padding: 1px 2px;
  display: flex;
  align-items: center;
}
.craft_block .craft_position .craft_count_box {
  display: flex;
  flex-direction: row;
}
.craft_block .craft_position .craft_count_box .craft_lvl {
  width: 16px;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  border: 2px solid #A6B2AA;
}
.craft_block .craft_position .craft_count_box .craft_count {
  width: 40px;
  font-size: 14px;
  box-shadow: -4px 4px 2px -5px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1px 5px;
}
/*# sourceMappingURL=style.css.map */