@colorText: rgb(166, 178, 170);
.location_container {
  width: 100%;

  .location_info {
    display: inline-block;
    width: 20%;

    .location_name{
      font-size: 24px;
      color: @colorText;
      text-align: right;
    }
    .location_img {
      width: 100%;

      img {
        width: 100%
      }
    }
  }
}